.App {
  text-align: center;
  
}

.App-logo {
  animation: App-logo-spin infinite 00s linear;
  height: 20vmin;
  margin-top: 70px;
}

.App-header {
  background-color: #EE9A49;
  height: 500px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 2.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
.form-signup {
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
}
.form-signup .form-signup-heading,
.form-signup .checkbox {
    margin-bottom: 10px;
     color: #8B5A2B;
}
.form-signup .checkbox {
    font-weight: normal;
}
.form-signup .form-control {
    position: relative;
    font-size: 16px;
    height: auto;
    padding: 10px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.form-signup .form-control:focus {
    z-index: 2;
}
.form-signup input[type="text"] {
    margin-bottom: -1px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}
.form-signup input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}
.container1{
  align-items: center;
  background-color: #F5F5DC;
  height: 100px;
}